<div class="page-wrapper">
  <p class="has-text-centered mb-6">Please select a date and an hour to check if the resource is available</p>

  <form [formGroup]="checkForm" (ngSubmit)="submit()" class="has-text-centered mb-5">
    <div class="columns field mb-4">
      <div class="column control">
        <input
          class="input is-medium is-rounded is-white"
          type="date"
          name="date"
          formControlName="date"
          [ngClass]="{ filled: checkForm.value.date }"
        />
      </div>
      <div class="column control">
        <div class="select is-medium is-rounded is-white has-box-shadow p-0 full-width">
          <select class="full-width" name="time" formControlName="time" [ngClass]="{ filled: checkForm.value.time }">
            <option value="" disabled>Select time</option>
            <option *ngFor="let time of times" [ngValue]="time">{{ time }}</option>
          </select>
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="button is-primary is-medium is-rounded"
      [ngClass]="{ 'is-loading': isSubmitted, 'is-lightening': checkForm.valid }"
      [disabled]="!checkForm.valid"
    >
      Submit
    </button>
  </form>
</div>
